html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    font-size: 16px;
}

input {
    font-size: 16px;      
}

.map_ui_body {
    display: flex;
    flex-direction: column;
}

#map {
    float: left;
    width: 100%;
}

#search_box {
    background-color: white;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    font-size: 14px;
}

.map_controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.map_panel {
    width: 100%;
    min-width: 100%;
    height: 35%;
    flex-grow: 1;
    flex-basis: 35%;
}

.compare_panel {
    height:55%;
    flex-grow: 2;
    flex-basis: 55%;
}

.compare_content {
    width: 50%;
    float:left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#compare_heading {
    padding: 0.3em 0.5em;
    margin: 0;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.coord_pair {
    padding: 0.2em;
}

.coord_pair > input {
    width: 8em;
}

.image_container {
    flex-grow: 1;
    display: flex;
}

#current_image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    flex-grow: 1;
}

#original_coords, #editable_coords {
    display: none;
}

#controls {
    text-align: right;
    margin-bottom: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tooltip-button {
    color: #000000;
    padding: 0px;
    float: right;
    margin-top: 3px;
    margin-left: 3px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 3px;
    border: none;
    background-color: #EAEAE0;
}

.tooltip-content {
    display: inline-block;
    text-align: left;
    font-size: 14px;
}

.footer {
    /*flex-shrink: 1;*/
    text-align: center;
}