<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About StreetTagger</title>
        <meta name="description" content="How to use StreetTagger to edit GPS coordinates on your photos by comparing them to Street View in Google Maps." />
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            h1 {
                font-size: 1.7em;
            }
            h2 {
                font-size: 1.4em;
            }
            .about-container {
                padding: 1em;
            }
        </style>
    </head>
    <body>
        <div class="about-container">
            <a href="/StreetTagger/" target="_parent">StreetTagger</a>
            <h1>About StreetTagger</h1>
            <p>StreetTagger is a simple tool which lets you assign or change the GPS coordinates (geotags) of your photos while giving you a side-by-side comparison to what it actually looks like at that location in Google Maps Street View. Just load the image and drag-and-drop the location (X marks the spot) on the overhead map or in the Street View pane. Or you can type in the specific latitude or longitude directly. Once you have it at the location you want, simply click Download to save your image with the new GPS coordinates (stored in the EXIF metadata of your image).</p>

            <h2>What if my photo doesn't have any geotags or GPS coordinates?</h2>
            <p>You can add them with StreetTagger! To make things easier, first position the map somewhere around the general area where the photo should be located (you can use the Search bar to do this). The upload your photo, and StreetTagger will place it at the center of your current map view. Proceed as above, or use the "Guide Me" feature, to adjust the accuracy to however close you like.</p>

            <h2>Why does my photo have the wrong GPS coordinates?</h2>
            <p>This could be due to a number of reasons. A common reason is due to the fact that many cameras don't come with GPS built in, so you may have used an app on your smartphone to record the GPS locations as you took your photos. But a lot of these apps record the location at timed intervals, so you may have moved a large distance since the last recording. Some devices take some time for the GPS location to be accurately identified.</p>
            </div>
    </body>
</html>